<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- Wheels -->
        <joint name="right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min"> -10 </param>
                <param name="max"> 10 </param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
        <joint name="left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min"> -10 </param>
                <param name="max"> 10 </param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <!-- Fork Joint -->
        <joint name="fork_base_joint">
            <command_interface name="effort">
              <!-- <param name="min">-1</param>
              <param name="max">1</param> -->
            </command_interface>
            <command_interface name="velocity"/>
            <command_interface name="position">
                <!-- <limit effort="87" lower="-1.7628" upper="1.7628" velocity="2.1750"/>  -->
                <!-- <limit effort="1000.0" lower="0" upper="0.38" velocity="10"/> -->
            </command_interface>
            <!-- <state_interface name="velocity"/>
            <state_interface name="position"/> -->
            <state_interface name="effort"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>



    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find forklift_robot)/my_controllers.yaml</parameters>
            <!-- <parameters>$(find forklift_robot)/config/my_controllers.yaml</parameters> -->
        </plugin>
    </gazebo>



    <!-- Add transmission tags for forklift URDF bot -->

    <!-- <transmission name="transmission_right_front_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_front_wheel_joint">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_right_front_wheel_joint">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    
    <transmission name="transmission_left_front_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_front_wheel_joint">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_left_front_wheel_joint">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission> -->



    <!-- Include Ros_Control for Gazebo Simulation plugin -->
    <!-- <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find forklift_ros_control)/config/forklift_control.yaml</parameters>
        </plugin>
    </gazebo> -->

</robot>