<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Setup Collision Detection Plugin for the forklift robot -->
    <gazebo reference="chassis_bottom_link">
        <sensor name='my_contact' type='contact'>
            <plugin name="my_plugin3" filename="libros_collision_detection.so"/>
            <update_rate> ${collision_detection_plugin_update_rate} </update_rate>
            <selfCollide>true</selfCollide>
            <!-- <alwaysOn>true</alwaysOn>
            <material>Gazebo/White</material> -->
            <contact>
                <collision>
                chassis_bottom_link_collision_collision 
                chassis_bottom_link_fixed_joint_lump__back_wheel_link_collision_1 
                chassis_bottom_link_fixed_joint_lump__chassis_top_link_collision_2 
                chassis_bottom_link_fixed_joint_lump__lift_base_link_collision_3 
                chassis_bottom_link_fixed_joint_lump__lift_body_connector_link_collision_4 
                </collision>
            </contact>
        </sensor>
    </gazebo>
    <gazebo reference="left_front_wheel_link">
        <sensor name='my_contact' type='contact'>
            <plugin name="my_plugin3" filename="libros_collision_detection.so"/>
            <update_rate> ${collision_detection_plugin_update_rate} </update_rate>
            <selfCollide>true</selfCollide>
            <!-- <alwaysOn>true</alwaysOn>
            <material>Gazebo/White</material> -->
            <contact>
                <collision>
                left_front_wheel_link_collision
                </collision>
            </contact>
        </sensor>
    </gazebo>
    <gazebo reference="fork_base_link">
        <sensor name='my_contact' type='contact'>
            <plugin name="my_plugin3" filename="libros_collision_detection.so"/>
            <update_rate> ${collision_detection_plugin_update_rate} </update_rate>
            <selfCollide>true</selfCollide>
            <!-- <alwaysOn>true</alwaysOn>
            <material>Gazebo/White</material> -->
            <contact>
                <collision>
                fork_base_link_collision 
                fork_base_link_fixed_joint_lump__left_fork_link_collision_1 
                fork_base_link_fixed_joint_lump__right_fork_link_collision_2
                </collision>
            </contact>
        </sensor>
    </gazebo>
    <gazebo reference="right_front_wheel_link">
        <sensor name='my_contact' type='contact'>
            <plugin name="my_plugin3" filename="libros_collision_detection.so"/>
            <update_rate> ${collision_detection_plugin_update_rate} </update_rate>
            <!-- <selfCollide>true</selfCollide>
            <alwaysOn>true</alwaysOn> -->
            <contact>
                <collision>
                right_front_wheel_link_collision
                </collision>
            </contact>
        </sensor>
    </gazebo>
</robot>